body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200vh;
    background-color: black; /* add this line */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;
    margin-top: auto; /* add this line */
    margin-bottom: auto; /* add this line */
}

.center img {
    width: 100px; /* adjust this to change the size of the image */
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
    margin-top: auto;
}

.qr-code img {
    width: 200px; /* adjust this to change the size of the QR code */
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(17, 17, 218), rgb(151, 213, 241));
    filter: blur(180px);
    z-index: 0;
    animation: move 5s linear infinite;
}

@keyframes move {
    0% { transform: translate(100vw, 0); }
    25% { transform: translate(50vw, 50vh); }
    50% { transform: translate(0, 100vh); }
    75% { transform: translate(50vw, 150vh); }
    100% { transform: translate(100vw, 200vh); }
}

@keyframes reveal {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}