body {
    background: black; /* This will make the background black */
    position: relative; /* This will make the body a positioning context for the ellipse */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* This will create a gap between the image and the text */
    position: relative;
    z-index: 1;
    margin: auto; /* This will center align the flex container vertically */
}

.center img {
    width: 100px; /* adjust this to change the size of the image */
}

.center .text { /* add this rule */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* This will make the text white */
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
    margin-top: auto;
    margin-bottom: 20vh; /* add this line */
}

.qr-code img {
    width: 400px; /* adjust this to change the size of the QR code */
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%; /* This will make the shape an ellipse */
    background: linear-gradient(45deg, rgb(17, 17, 218), rgb(151, 213, 241));
    filter: blur(180px); /* This will blur the ellipse */
    z-index: 0; /* This will put the ellipse behind the content */
}

